body {

    font-size: 11px;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden;
}



p{ 
    font-style: italic;
    
    margin-top: 10%;
    margin-bottom: 5px;
    text-align: right;
    color: grey;
    font-size: 15px;

}

h2{ 
    
    margin-top: -2%;
    text-align: right;
    color: grey;
    font-size: 20px;

}

#contenitorescorre {

    width:100vw;
    height:100vh;
    
    position: absolute;
    
    
}

#mamma{
    position: absolute;
    font-style: italic;
    width: 30%;
    right: 5vw;
    bottom: 8vh;
    text-align: right;
    
}

.scrittabianca{
    color: white;
}

#disegnoecolophon{

    position: absolute;
    float: right;
    width: 305px;
    height: 233px;
    right:71vw;
    bottom:8vh;
    
}


#immagine {
    position: absolute;
    width: 66px;
    height: 100px;
    
    
}

#disegno {

    width:66px;
    height:100px;
    position: absolute;
    margin-left: 250px;  
}
#colophon{
    position: absolute;
    text-align: right;
    color: white;
    float: left;
    bottom: 72px;
    right: 0;

}

.titolo{
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dida{
    font-size: 20px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}
.descrizione{
    font-size: 10px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 150px;
    position: absolute;
    right: 0;
    color: white;
}



#nome {
    position:absolute;
    left: 30vw;
    float: right; 
    height: 275px;
    width: 500px;
    bottom: 5vh;
}


#fm{

    margin: 0px;
    text-align: left;
    color: white;
    font-size: 125px;
    height: 110px;
    
}

#contenitoreintro{
    height: 85%;
    margin-left: 31vw;
    margin-right: 3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    overflow: scroll;

}

#intro{
    font-family: Georgia, serif;
    font-style: normal;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: grey;
    font-size: 14px;
}

#barra {
    width:100vw;
    height:40px;
    background:white;
    position: fixed;
    margin-top: 0px;
    left: 50vw;
    transform: translate(-50%, 0%);

    
}

#home {
    text-align: center;
    width:10vw;
    height:20px;
    border-bottom: 1px solid #2789ff;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#home:hover{
    font-size: 12px    
    }

.apertohome{
    
    transition: 0.5s;
    width: 10vw;
    height: 30vh;
    background-color: white;
    border: 1px solid #2789ff;
    position: absolute;
    left: 25%;
    top: 75%;
    transform: translate(-50%, 0%);

}

.piattohome{
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 10vw;
    height: 0vh;
    background-color: #2789ff;
    position: absolute;
    left: 25%;
    top: 75%;
    transform: translate(-50%, 0%);

}



#photo {
    text-align: center;
    width:10vw;
    height:20px;
    border-bottom: 1px solid #2789ff;
    position: absolute;
    left: 50%;
    top: 50%;  
    transform: translate(-50%, -50%);    
}

#photo:hover{
    font-size: 12px    
    }

.apertophoto{
    transition: 0.5s;
    width: 10vw;
    height: 20vh;
    background-color: white;
    border: 1px solid #2789ff;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0%);

}

.piattophoto{
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 10vw;
    height: 0vh;
    background-color: #2789ff;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, 0%);

}
#photo1{
    position: absolute;
    width: 10vw;
    height: 5vh;
    
    left:50%;
    top:0;
    transform: translate(-50%, 0%);

}

#photo2{
    position: absolute;
    width: 10vw;
    height: 5vh;
    
    left:50%;
    top:5vh;
    transform: translate(-50%, 0%);

}

#photo3{
    position: absolute;
    width: 10vw;
    height: 5vh;
    
    left:50%;
    top:10vh;
    transform: translate(-50%, 0%);

}

#photo4{
    position: absolute;
    width: 10vw;
    height: 5vh;
    
    left:50%;
    top:15vh;
    transform: translate(-50%, 0%);

}

.scrittatendina{
    margin: 0;
    color: grey;
    font-weight: normal;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.scrittatendina:hover{
    font-size: 12px    
    }

.invisibile{
    transition:0.5s;
    opacity: 0;
}

.visibile{
    transition:0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}


#contact {
    text-align: center;
    width:10vw;
    height:20px;
    border-bottom: 1px solid #2789ff;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);

    
}

#contact:hover{
    font-size: 12px    
    }

.apertocontact{
    transition: 0.5s;
    width: 10vw;
    height: 30vh;
    background-color: white;
    border: 1px solid #2789ff;
    position: absolute;
    left: 75%;
    top: 75%;
    transform: translate(-50%, 0%);

}

.piattocontact{
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 10vw;
    height: 0vh;
    background-color: #2789ff;
    position: absolute;
    left: 75%;
    top: 75%;
    transform: translate(-50%, 0%);

}













#contenitorefoto {

    width:100vw;
    height:700px;
    background:white;
    position: absolute;
    top:1000px;
    
}

   #destra {

    color: #858784;
    cursor: pointer;
    width:50px;
    height:50px;
    background:white;
    position: absolute;
    top:50%;
    left: 100%;
    transform: translate(-100%, -50%); 
    }

    #sinistra {
    
    color: #858784;
    cursor: pointer;
    width:50px;
    height:50px;
    background:white;
    position: absolute;
    top:50%;
    left: 0%;
    transform: translate(0%, -50%); 
    }

    .centriamo{
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px
    }

    .centriamo:hover{
    font-size: 55px    
    }

    #interessi{
    margin-top: -50%; 
    text-align: left;

    }
  

    .cornice{

    width: 100%;
    height: 100%;
    overflow: hidden    
    }

    .foto{
        width: 1400px;
        height: 1052px;

    }



    .sivede{
        transition: 1s;
        opacity: 1;
        width: 1400px;
        height: 1052px;

    }

    .nonsivede{
        transition: 1s;
        opacity: 0;
        width: 0px;
        height: 0px;
    }

    #david{
        margin-top: -12%;
    }

    #ktm{
        margin-top: -20%;
    }

    #camping{
        margin-top: -20%;
    }

    #interessi{
        color: white;
        position: absolute;
        left: 5vw
    }
   

#contenitorecit {

    width:100vw;
    height:700px;
    background:blue;
    position: absolute;
    top:1700px;
    
}



#sfondofoto {

    width:100vw;
    height:100vh;
    background:grey;
    position: fixed;
    
    

    
}
#fotosfondo {

    width:100vw;
    height:152vw;
    position: fixed;
    
    top: 30%;
    transform: translate(0%, -50%);

    
}







#cit {
   
    float: left;
    width: 10%;
    height: 100%;
}

#nonnatina{
    bottom:8vh; 
    right: 71vw;
    float: left;
    position: absolute;


   
}

#contenitorescorre2 {

    width:100vw;
    height:300px;
    background:white;
    position: absolute;
    top: 100vh;
    
}


	
    





@keyframes roto {

     0% {transform: translate(-50%, -50%)rotate(90deg);}



     100% {transform: translate(-50%, -50%)rotate(450deg);}

}













